{% extends "base.html" %}

{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for key, meme in memes.items()|reverse %}
        <p>
            <div class="meme">
                <h3>{{ meme.title }}</h3>
                <img src={{ url_for('static', filename= meme.filename ) }} height="300">
                <br>
                {% if meme.featured %}
                    <span class="completed">Featured</span> submission by <b>{{ meme.user }}</b>
                {% elif meme.approved %}
                    <span class="approved">Approved</span> submission by <b>{{ meme.user }}</b>
                {% elif meme.deleted %}
                    <span class="deleted">DELETED</span> only visible for admin</b>
                {% else %}
                    <span class="pending">Pending</span> submission by <b>{{ meme.user }}</b>
                {% endif %}

                <form method="POST" action="">
                    {% if meme.featured %}
                        <button type="submit" class="btn reset_btn" name="unfeature" value={{ key }}>Unfeature</button>
                        <button type="submit" class="btn deny_btn" name="disapprove" value={{ key }}>Disapprove</button>
                    {% elif meme.approved %}
                        <button type="submit" class="btn" name="feature" value={{ key }}>Feature</button>
                        <button type="submit" class="btn deny_btn" name="disapprove" value={{ key }}>Disapprove</button>
                    {% else %}
                        <button type="submit" class="btn approve_btn" name="approve" value={{ key }}>Approve</button>
                        <button type="submit" class="btn" name="feature" value={{ key }}>Feature</button>
                    {% endif %}
                    <button type="submit" class="btn delete_btn" name="delete" value={{ key }}>Delete</button>
                </form>
            </div>
        </p>
    {% endfor %}
{% endblock %}