{% extends "base.html" %}

{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for key, meme in memes.items() %}
            <div>
                <img src={{ url_for('static', filename= meme.filename ) }} height="300">
            </div>
             <form method="POST" action="">
            {% if meme.featured %}
                <p>This meme, uploaded by {{ meme.user }}, has been approved for display!</p>
                <button type="submit" name="unfeature" value={{ key }}>
                Unfeature
                </button>
                <button type="submit" name="disapprove" value={{ key }}>
                Disapprove
                </button>
            {% elif meme.approved %}
                <p>This meme, uploaded by {{ meme.user }}, has been approved for display!</p>
                <button type="submit" name="feature" value={{ key }}>
                Feature
                </button>
                <button type="submit" name="disapprove" value={{ key }}>
                Disapprove
                </button>
            {% else %}
                <p>This meme, uploaded by {{ meme.user }}, is pending approval.</p>
                <button type="submit" name="approve" value={{ key }}>
                Approve
                </button>
                <button type="submit" name="feature" value={{ key }}>
                Feature
                </button>
            {% endif %}
            </form>
            <br>
            <br>
    {% endfor %}
{% endblock %}