{% extends "base.html" %}

{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for key, job in jobs.items()|reverse %}
        <div>
            <form method="POST" action="">

                <p><b>Submitted:</b> {{ job.date | short_date }} by {{ job.user }}<br>
                    <b>Description:</b> {{ job.description }}<br>
                    <b>Filename:</b> {{ job.filename }}<br>
                    <b>Status:</b>
                    {% if job.completed %}
                        <span class="completed">Completed {{ job.completed }}</span><br>
                    {% elif job.approved %}
                        <span class="approved">Approved</span><br>
                    {% elif job.denied %}
                        <span class="denied">Denied</span><br><b>Reason:</b> {{ job.denied }}<br>
                    {% elif job.deleted %}
                        <span class="denied">Deleted (only visible to admin)</span><br>
                    {% else %}
                        <span class="pending">Pending</span><br>
                    {% endif %}

                    <button type="submit" class="btn approve_btn" name="approve" value={{ key }}>Approve</button>
                    <input type="text" size="14" class="field" name="reason" placeholder="Denial reason">
                    <button type="submit" class="btn deny_btn" name="deny" value={{ key }}>Deny</button>
                    <br><button type="submit" class="btn" name="complete" value={{ key }}>Mark Completed</button>
                    <button type="submit" class="btn delete_btn" name="delete" value={{ key }}>Delete</button>
                    <button type="submit" class="btn reset_btn" name="reset" value={{ key }}>Reset Status</button>
                </p><hr>
            </form>
        </div>
        {% endfor %}
    {% endblock %}