<!--  Following tutorial by Miguel Grinberg
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href={{ url_for('static', filename= "styles.css" ) }}>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
    </head>
    <body>
        <article>
            <nav>
                <ul>
                    <a {% if request.path == url_for('list_memes') %} class="current" {% endif %} href="{{ url_for('list_memes') }}"><li>Memes</li></a>
                    <a {% if request.path == url_for('list_jobs') %} class="current" {% endif %}href="{{ url_for('list_jobs') }}"><li>3D print projects</li></a>
                    <hr>
                    <a {% if request.path == url_for('submit_memes') %} class="current" {% endif %}href="{{ url_for('submit_memes') }}"><li>Submit Memes</li></a>
                    <a {% if request.path == url_for('submit_jobs') %} class="current" {% endif %}href="{{ url_for('submit_jobs') }}"><li>Submit 3D print projects</li></a>
                    {% if current_user.is_authenticated %}
                        <hr>
                        <a {% if request.path == url_for('admin_3dprint') %} class="current" {% endif %}href="{{ url_for('admin_3dprint') }}"><li>Manage Print jobs</li></a></div>
                        <a {% if request.path == url_for('admin_memes') %} class="current" {% endif %}href="{{ url_for('admin_memes') }}"><li>Manage Memes</li></a></div>
                    {% else %}
                        <hr>
                        <a {% if request.path == url_for('login') %} class="current" {% endif %}href="{{ url_for('login') }}"><li>Admin login</li></a>
                    {% endif %}
                </ul>
            </nav>
            <section>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </section>
        </article>
        <footer><a target="_blank" href="https://github.com/kraakan">Made with ❤️ by <b>bistromd & kraakan</b></a></footer>
    </body>
</html>