<!--  Following tutorial by Miguel Grinberg
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href={{ url_for('static', filename= "styles.css" ) }}>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
    </head>
    <div>
        <a href="{{ url_for('index') }}">Home</a></div>
        
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('list_jobs') }}">3D print projects</a>
        <a href="{{ url_for('submit_jobs') }}">Submit 3D print projects</a>
        <a href="{{ url_for('list_memes') }}">Memes</a>
        <a href="{{ url_for('submit_memes') }}">Submit Memes</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('admin_3dprint') }}">Manage Print jobs</a></div>
        <a href="{{ url_for('admin_memes') }}">Manage Memes</a></div>
        <a href="{{ url_for('logout') }}">Logout</a>
        <p>Logged in admin</p>
        {% endif %}
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>