<!--  Following tutorial by Miguel Grinberg
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href={{ url_for('static', filename= "styles.css" ) }}>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
    </head>
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>