{% extends "base.html" %}

{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% for job in jobs|reverse %}
        {% if not job.deleted %}

            <p><b>Submitted:</b> {{ job.date | short_date }} by {{ job.user }}<br>
            <b>Description:</b> {{ job.description }}<br>
            <b>Status:</b> 
            {% if job.completed %}
                <span class="completed">Completed</span> {{ job.completed }}</span><br><u>Please pick up your print from F364</u>
            {% elif job.approved %}
                <span class="approved">Approved</span>, queued for print
            {% elif job.denied %}
                <span class="denied">Denied</span><br><b>Reason:</b> {{ job.denied }}
            {% else %}
                <span class="pending">Pending</span>, awaiting approval
            {% endif %}
            </p>
        
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}