{% extends "base.html" %}


{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% for meme in memes|reverse %}
        {% if not meme.deleted %}
            {% if meme.featured %}
                <span class="completed">Featured</span> submission by <b>{{ meme.user }}</b>
            {% elif meme.approved %}
                <span class="approved">Approved</span> submission by <b>{{ meme.user }}</b>
            {% else %}
                <span class="pending">Pending</span> submission by <b>{{ meme.user }}</b>
            {% endif %}
                <div class="meme">
                    <img src={{ url_for('static', filename= meme.filename ) }} height="300">
                </div>
                <hr>
        {% endif %}
    {% endfor %}
{% endblock %}