{% extends "base.html" %}


{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% for meme in memes|reverse %}
        {% if not meme.deleted %}
            <p>
                <div class="meme">
                    <h3>{{ meme.title }}</h3>
                    <img src={{ url_for('static', filename= meme.filename ) }} height="300">
                    <br>
                    {% if meme.featured %}
                        By <b>{{ meme.user }}</b> - <span class="completed">Featured</span>
                    {% elif meme.approved %}
                        By <b>{{ meme.user }}</b> - <span class="approved">Approved</span>
                    {% else %}
                        By <b>{{ meme.user }}</b> - <span class="pending">Pending</span>
                    {% endif %}
                </div>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}