{% extends "base.html" %}

{% block content %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {#TODO: Instrubctions for user#}
    <form id="uploadform" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
                {{ form.user.label }}<br>
                {{ form.user(size=30) }}<br></p>
        <p>
                {{ form.description.label }}<br>
                {{ form.description(size=30) }}<br></p>
        {{ form.files.label }}<br>
        {{ form.files(id="files") }}<br>
        <p> {{ form.submit() }}</p>
    </form>
{% endblock %}